@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
  margin: 0 auto;
}
header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1900px;
  height: 80px;
  box-shadow: 0 0 7px 1px rgb(219 219 219);
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.header_logo{
  margin: 7px;
}

.content{
  margin-top: 140px;
  margin-left: 20%;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  
}
.credit_card{
  margin-top: 50px;
  font-weight: 600;  
}
.cards{
  margin-top: 50px;
  margin-left: 10px;
  max-width: 1200px;
  width: 100%;
}
.bank{
  margin-top: 60px;
  max-width: 1200px;
  width: 100%;
  max-height: 410px;
  height: 100%;
  border: 0px solid black;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgb(26 46 53 / 15%);
  transition: 1s;
  display: flex;
  flex-direction: row;
}
.bank:hover{
  box-shadow: 0 5px 18px 0 #949494;
}

.bank_logo{
  padding-left: 10px;
  padding-top: 10px;  
  width: 240px;
}
.bank_info{
  margin-top: 20px;
  max-width: 900px;
  width: 100%;
 
}
.bank_name{
  margin-top: 10px;
  font-family: 'Unbounded', cursive;
  font-size: 12px;
  color: #1A2E35;
}
.bank_name span{
  font-size: 16px;
  font-weight: 700;
}
.plusi_banka{
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.plusi_banka span{
  font-family: 'Montserrat', sans-serif;
  color: #1A2E35;
  line-height: 15px;
  font-size: 11px;
  font-weight: 400;
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  background-color: #ECECEC;
  border-radius: 13px;
}

.card_info ul{
  
  margin-top: 10px;
}
.card_info li{
  font-size: 16px;
  font-family: 'Montserrat';
  list-style-type: none;
  margin-left: -40px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between
}
.card_info li div{
  flex: 1 0;
  border-bottom: 1px dotted #9b9b9b;
  height: 1em;
  margin: 0 .4em;
}
.card_info li span{
  position: sticky;
  justify-content: left;
}
.tochki{
  flex: 1 0;
  border-bottom: 1px dotted #000;
  height: 1em;
  margin: 0 .4em;
}

.btn_bank{
  margin-top: -12px;
  margin-right: -30px;
  display: flex;
  justify-content: end;
  
}
.btn_bank_pereh{
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: 0.5s;
}
.btn_bank_pereh:hover{
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

.podpiska{
  margin-top: 100px;  
  max-width: 1910px;
  width: 100%;
  min-height: 150px;
  height: 100%;
  background-color: #1A2E35;
  display: flex;
  flex-direction: row;
}
.bolshe_predl{
  padding-top: 25px;
  margin-left: 300px;
  font-family: 'Montserrat';
  color: white;
}
.bolshe_predl h1{
  font-size: 25px ;
}
.bolshe_predl p{
  font-size: 22px;
  font-weight: 700;
  margin-top: -15px;
}
.dannie_rasilki{
  margin-top: 30px;
  margin-left: 10px;
  
}
.dannie_rasilki input{
  padding-left: 20px;
}
.name_inp{
  height: 70px;
  border-radius: 25px;
  border: none;
}
.mail_imp{
  height: 70px;
  border-radius: 25px;
  border: none;
}
.otprav_btn{
  margin-left: 20px;
  margin: 10px;
  height: 70px;
  width: 150px;
  text-align: center;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  background-color: darkgreen;
  transition: 0.5s;
}
.otprav_btn:hover{
  background-color: green;
  font-size: 25px;
  transition: 0.5s;
}

@media screen and (max-width: 1600px) {
  header{
    max-width: 1600px;
  }
  .content{
    margin-left: 15%;
  }
  .bolshe_predl{
    margin-left: 250px;
  }
}

@media screen and (max-width: 1280px){
  header{
    max-width: 1280px;
    margin: 0;
  }
  .content{
    max-width: 1100px;
    margin-left: 8%;
  }
  .bank_name{
    margin-left: 20px;
  }
  .plusi_banka{
    margin-left: 10px;
  }
  .card_info{
    margin-left: 10px;
    margin-right: 10px;
  }
  .btn_bank{
    margin-right: 0px;
  }
}

@media screen and (max-width: 1024px){
  header{
    max-width: 1024px;
    margin-left: 0px;
  }
  .content{
    max-width: 900px;
    margin-left: 10%;
  }
  .bank{
    flex-direction: column;
    max-width: 800px;
    max-height: 600px;
  }
  .bank_name{
    margin-left: 20px;
  }
  .plusi_banka{
    margin-left: 10px;
  }
  .card_info{
    margin-left: 10px;
    margin-right: 10px;
  }
  .btn_bank{
    margin-right: 0px;
  }
  .bolshe_predl{
    margin-left: 100px;
  }
  .dannie_rasilki{
    width: 600px;
  }
}

@media screen and (max-width: 960px) {
  header{
    max-width: 960px;
    margin-left: 0px;
  }
  .content{
    margin-left: 10%;
    max-width: 800px;
  }
  .bolshe_predl{
    margin-left: 20px;
  }
  .bank{
    flex-direction: column;
    max-width: 800px;
    min-height: 600px;
  }
  
  .dannie_rasilki{
    max-width: 900px;
    width: 100%;
  }
  
}

@media screen and (max-width: 912px){
  header{
    position: relative;
    max-width: 912px;
  }
  .content{
    max-width: 750px;
    margin-left: 10%;
  }
  .dannie_rasilki{
    max-width: 820px;
  }
  .bank{
    flex-direction: column;
    max-width: 700px;
    max-height: 600px;  
  }
  .dannie_rasilki {
    max-width: 600px;
    margin-left: 50px;
  }
  }

@media screen and (max-width: 820px){
header{
  position: relative;
  max-width: 820px;
}
.content{
  max-width: 750px;
  margin-left: 7%;
}
.dannie_rasilki{
  max-width: 820px;
}
.bank{
  flex-direction: column;
  max-width: 700px;
  max-height: 600px;  
}
.dannie_rasilki {
  max-width: 600px;
}
}

@media screen and (max-width: 768px){
  header{
    max-width: 768px;
  }
  .content{
    max-width: 700px;
    margin-left: 3%;
  }
  .bolshe_predl{
    max-width: 768;
  }
  .bolshe_predl{
    max-width: 400px;
    margin-left: 20px;
  }
  .mail_imp{
    margin-top: 5px;
  }
  .dannie_rasilki {
    max-width: 300px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 540px){
  header{
    max-width: 540px;
  }
  .content{
    max-width: 500px;
    margin-left: 3%;
  }
  .bolshe_predl{
    max-width: 768;
  }
  .bolshe_predl{
    max-width: 540px;
    margin-left: 20px;
  }
  .mail_imp{
    margin-top: 5px;
  }
  .dannie_rasilki {
    max-width: 300px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 414px) {
  header{
    max-width: 411px;
    margin-left: 0px;
    position: relative;
  }
  .content{
    margin-left: 11%;
    max-width: 300px;
  }
  .credit_card{
    margin-top: -100px;
  }
  .bolshe_predl{
    margin-left: 20px;
  }
  .bank{
    flex-direction: column;
    max-width: 300px;
    max-height: 600px;
  }
  .one{
    margin-top: 0px;
  }
  .bank_name{
    margin-left: 20px;
  }
  .plusi_banka{
    margin-left: 10px;
  }
  .card_info{
    margin-left: 10px;
    margin-right: 10px;
  }
  .card_info li{
    font-size: 14px;
  }
  .btn_bank{
    margin-right: -10px;
    margin-top: 10px;
    justify-content: center;
    margin-right: 0;
  }
  .podpiska{
    max-width: 414px;
    flex-direction: column;
  }
  .dannie_rasilki{
    max-width: 360px;
    width: 100%;
    flex-direction: column;
    margin-left: 7%;
  }
  .dannie_rasilki input{
    margin-top: 10px;
  }
  .name_inp{
    width: 300px;
    margin-left: 5%;
  }
  .mail_imp{
    width: 300px;
    margin-left: 5%;
  }
  .otprav_btn{
    margin-left: 30%;
  }
}

@media screen and (max-width: 393px){
  header{
    max-width: 393px;
  }
  .podpiska{
    max-width: 393px;
  }
  .dannie_rasilki{
    max-width: 300px;
  }
}

@media screen and (max-width: 390px){
  header{
    max-width: 390px;
  }
  .content{
    margin-left: 10%;
  }
  .podpiska{
    max-width: 390px;
  }
  .dannie_rasilki{
    max-width: 300px;
  }
  
}



@media screen and (max-width: 375px) {
  header{
    max-width: 375px;
    margin-left: 0px;
    position: relative;
  }
  .content{
    margin-left: 8%;
    max-width: 300px;
  }
  .credit_card{
    margin-top: -100px;
  }
  .bolshe_predl{
    margin-left: 20px;
  }
  .bank{
    flex-direction: column;
    max-width: 300px;
    max-height: 600px;
  }
  .one{
    margin-top: 0px;
  }
  .bank_name{
    margin-left: 20px;
  }
  .plusi_banka{
    margin-left: 10px;
  }
  .card_info{
    margin-left: 10px;
    margin-right: 10px;
  }
  .card_info li{
    font-size: 14px;
  }
  .btn_bank{
    margin-right: -10px;
    margin-top: 10px;
    
  }
  .podpiska{
    max-width: 375px;
    flex-direction: column;
  }
  .dannie_rasilki{
    max-width: 340px;
    width: 100%;
    flex-direction: column;
    margin-left: 4%;
    

  }
  .dannie_rasilki input{
    margin-top: 10px;
  }
  .name_inp{
    width: 300px;
    margin-left: 5%;
  }
  .mail_imp{
    width: 300px;
    margin-left: 5%;
  }
  .otprav_btn{
    margin-left: 30%;
  }
}

@media screen and (max-width: 360px){
  header{
    max-width: 360px;
  }
  .content{
    margin-left: 6%;
  }
  .podpiska{
    max-width: 360px;
  }
  .dannie_rasilki{
    max-width: 300px;
  }
  .name_inp{
    width: 270px;
    
  }
  .mail_imp{
    width: 270px;
    
  }
}

@media screen and (max-width: 320px){
  header{
    max-width: 320px;
  }
  .content{
    max-width: 300px;
    margin-left: 1%;
  }
  .dannie_rasilki{
    margin-left: 0px;
  }

}

@media screen and (max-width: 280px){
  header{
    max-width: 280px;
  }
  .header_logo img{
    width: 250px;
    height: 60px;
  }
  .content{
    max-width: 250px;
    margin-left: 3%;
  }
  .card_info li{
    font-size: 12px;
  }
  .podpiska{
    max-width: 280px;
  }
  .dannie_rasilki{
    max-width: 150px;
    
  }
  .name_inp{
    width: 150px;
    margin-left: 35px;   
  }
  .mail_imp{
    width: 150px;
    margin-left: 35px; 
  }
}